body{
    background-color: orange;
}
h1{
    background-color: yellow;
    text-align: center;
    border-radius: 1em;
    color: black solid;
    font-size: larger;
    font-style: italic;
}
h3{
    text-align: center;
    background-color: rosybrown;
    border-radius: 1em;
}
.img{
    width: 150px;
    height: 150px;

}
.cart{
    padding: 1em;
    width: 100%;
    margin-top: 2em;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
td{
    text-align: center;
    vertical-align: bottom;
}
th, td{
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}
.a1{
    flex: 1;
    margin: auto;
    display: flex;
}
.display{
    display: flex;
}
.a2{
    margin: 1em;
    padding: 1em;
}
.aa{
    margin-left: 50%;
    display: flex;
}
h2{
    font-size: medium;
    font-style: italic;
    color: black solid;
}
.btn{
    background-color: green;
    margin: 1em;
    font-size: large;
    font-style: italic;
    width: 65px;
    border-radius: 0.3em;
}
.btn1{
    color: green;
    background-color: azure;
    width: 85px;
    border-radius: 0.3em;
}
.btn2{
    color: red;
    background-color: azure;
    width: 85px;
    border-radius: 0.3em;
}
/*a{
    color: red;
}*/
.messege{
    background-color: black;
    color: white;
    margin: 1em;
    font-size: large;
}
.cart-box{
    display: inline;
}
.Small_pizza{
    border: 1px solid black;
    padding: 1em;
    margin:  1em;
    border-radius: 1em;
    background-color: burlywood;
}
.Medium_pizza{
    border: 1px solid black;
    padding:  1em;
    margin:  1em;
    border-radius: 1em;
    background-color: gainsboro;
}
.Large_pizza{
    border: 1px solid black;
    padding:  1em;
    margin:  1em;
    border-radius: 1em;
    background-color: lightslategray;
}
.Larged_pizza{
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: grey;
}
.b1{
    margin: 1em;
    padding: 1em;
}
@media (min-width: 900px) {
    .Pizzas{
    display: flex;
    padding: 1em;
    margin: 1em;
    /*max-width: fit-content;*/
    }
    .b1{
        display: flex;
    }
    
}